@use "../../../stylesheets/fonts";

.sponsors {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 100%;

  @include fonts.subheader;
  font-size: min(4vw, 40px);
  gap: 1em;

  &--icons {
    display: flex;

    .sponsorsIcons {
      height: 90%;
      width: 100%;
    }
  }
}
