@import "../../../../../stylesheets/fonts.scss";

.welcome__container {
    font-family: $inter;
    color: #3B3B7F;
    font-weight: bold;
    font-size: 36px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%;

    &--message {
        text-align: left;
        width: 100%;
        max-width: 500px;
        margin: 1rem;
    }

    &__cruzpoints {
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0px 2px 20px #d9d9d9;
        padding: 10px;
        font-size: 16px;
        width: 90%;
        max-width: 600px;

        @media screen and (max-width: 450px) {
            font-size: 12px;
        }

        &--points {
            width: 4em;
            text-align: center;
            padding: 8px 12px;
            margin: 0 1rem;
            background-color: #EDEDFF;
            border-radius: 10px;
        }

        &--code-button {
            all: unset;
            color: white;
            font-weight: 400;
            background-color: #8C8CFF;
            padding: 8px 12px;
            border-radius: 10px;
            margin: 5px;
            margin-left: auto;
            width: 6em;
            text-align: center;
            transition: width ease 0.25s;
            &:hover {
                cursor: pointer;
                width: 6.5em;
            }
        }
    }
}

