@import "../../stylesheets/responsiveness";

.social_button {
  all: unset;

  &:hover {
    cursor: pointer;
    fill: white;
  }

  &--svg {
    height: 52px;
    width: 52px;
    margin-left: 20px;
    margin-right: 20px;

    @media screen and (max-width: $large-medium) {
      height: 38px;
      width: 38px;
    }

    @media screen and (max-width: $medium) {
      height: 33px;
      width: 33px;
    }

    @media screen and (max-width: 500px) {
      margin-left: 8px;
      margin-right: 8px;
    }
  }
}