@use "../../../stylesheets/variables";
@use "../../../stylesheets/fonts";
@import "../../../stylesheets/variables";
@import "../../../stylesheets/fonts";

.about__container {
  &--logo {
    max-height: 348px;
    max-width: 469px;
    width: 469vw;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &--top {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 50px;
  }

  &--left {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  &--title {
    margin-bottom: 20px;

    font-family: $barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 77px;
    text-align: left;
    text-transform: uppercase;
  }

  &--history_title {
    margin-top: 75px;
    margin-bottom: 40px;

    font-family: $inter;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
  }

  &--blurb {
    font-family: $nunito-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-align: left;

    .app--dark & {
      color: #cfd1d4;
    }

    .app--light & {
      color: #dee2e5;
    }
  }

  &--sponsor {
    max-width: 300px;
    max-height: 43px;
    border-radius: 12px;
    margin-top: 40px;

    .app--dark & {
      background: $dark-violet;
    }

    .app--light & {
      background: $light-orange;
    }

    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      border: none;

      font-family: $nunito;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 33px;

      .app--dark & {
        color: #e6e4e9;
      }

      .app--light & {
        color: #f2f0f0;
      }

      flex: none;
      order: 0;
      flex-grow: 0;
    }
  }

  &--history {
    font-family: $nunito-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-align: justify;
    color: $dark-white;

    .app--dark & {
      color: $dark-gray;
    }

    .app--light & {
      color: #dee2e5;
    }
  }

  &--history-2 {
    margin-top: 35px;
    margin-bottom: 35px;

    font-family: $nunito-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-align: justify;

    .app--dark & {
      color: $dark-gray;
    }

    .app--light & {
      color: #dee2e5;
    }
  }
}

/*
@media only screen and (max-width: 800px) {
  .about__container {
    &--blurb {
      flex-direction: column;
      gap: 1em;
    }
  }
}

@media only screen and (min-width: 1220px) {
  .about__container {
    &--history {
      margin-right: 100px;
    }
  }
}
*/
