@import "https://fonts.googleapis.com/css?family=Nunito|Monsterrat|Inter|Barlow|Nunito+Sans";

$nunito_sans: "Nunito Sans", sans-serif;
$nunito: "Nunito", sans-serif;
$monsterrat: "Monsterrat", sans-serif;
$inter: "Inter", sans-serif;
$barlow: "Barlow", sans-serif;
