// update when color theme available

// dark theme colors
$dark-dark-blue: #081428;
$dark-navy-blue: #142132;
$dark-dark-purple: #2a1d3e;
$dark-white: #fdfffa;
$dark-gray: #cfd1d4;
$dark-green: #7dcfb6;
$dark-faded-blue: #5b85aa;
$dark-light-blue: #4ba5d7;

// light theme colors
$light-dark-blue: #194263;
$light-green: #649185;
$light-faded-blue: #395477;
$light-light-orange: #d68c74;
$light-orange: #d45c3e;
$light-blue: #3d8dba;
$light-light-blue: #4ba5d7;

@mixin dark-background {
  background: linear-gradient(
    180deg,
    #081428 22.92%,
    #13243c 52.08%,
    #243d5e 100%
  );
}

@mixin dark-about-background {
  background: linear-gradient(
    180deg,
    rgba(57 39 84 / 70%) 0%,
    rgba(42 29 62 / 0%) 100%
  );
}

@mixin light-background {
  background: linear-gradient(
    180deg,
    rgba(51 104 146 / 30%) 0%,
    rgba(255 204 0 / 30%) 68.75%,
    rgba(244 247 142 / 30%) 100%
  );
}