// update when color theme available

// dark theme colors
$darkDarkBlue: #081428;
$darkNavyBlue: #142132;
$darkDarkPurple: #2a1d3e;
$darkWhite: #fdfffa;
$darkGreen: #7dcfb6;
$darkFadedBlue: #5b85aa;
$darkLightBlue: #4ba5d7;

// light theme colors
$lightDarkBlue: #194263;
$lightGreen: #649185;
$lightFadedBlue: #395477;
$lightLightOrange: #d68c74;
$lightOrange: #d45c3e;
$lightBlue: #3d8dba;
$lightLightBlue: #4ba5d7;

@mixin dark-background {
  background: linear-gradient(
    180deg,
    #081428 22.92%,
    #13243c 52.08%,
    #243d5e 100%
  );
}

@mixin dark-about-background {
  background: linear-gradient(
    180deg,
    rgba(57 39 84 / 70%) 0%,
    rgba(42 29 62 / 0%) 100%
  );
}

@mixin light-background {
  background: linear-gradient(
    180deg,
    rgba(51 104 146 / 30%) 0%,
    rgba(255 204 0 / 30%) 68.75%,
    rgba(244 247 142 / 30%) 100%
  );
}
