@import "../../../stylesheets/variables";
@import "../../../stylesheets/fonts";

.members__container {
  position: relative;
  padding-top: 500px;
  justify-content: center;

  h3 {
    font-family: $inter;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
  }

  &--names {
    position: relative;
    justify-content: center;

    h4 {
      position: relative;

      font-family: $inter;
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 48px;
      text-align: center;
      text-transform: uppercase;
    }

    h5 {
      position: relative;

      font-family: $inter;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
