@import "../../../../../../stylesheets/fonts";

.teambuilder {
  font-family: $nunito;
  color: #3B3B7F;
  padding: 20px;
  width: 90%;
  max-width: 550px;
  font-weight: 600;
}

.invitation-type {
  &__options {

    @mixin choice-button {
      all: unset;
      border: 1px solid #6F6FE8;
      margin: 5px;
      padding: 5px 20px;
      border-radius: 5px;
      font-family: $inter;
      font-weight: 400;
      font-size: 16px;
      color: #6F6FE8;
      transition: padding ease 0.25s;

      &:hover {
        cursor: pointer;
        background-color: #6F6FE8;
        color: white;
        padding: 5px 25px;
      }
    }

    &--button {
      @include choice-button;

      &--selected {
        @include choice-button();
        background-color: #D4D4D4;
        border-color: #D4D4D4;
        color: white;
        &:hover {
          pointer-events: none;
          background-color: #D4D4D4;
          padding: 5px 20px;
        }
      }
    }
  }
}

.createteam {
  @mixin text-boxes {
    width: 80%;
    height: 30px;
    border-radius: 6px;
    border: 1px solid #DEDEDE;
    padding-left: 10px;
    margin-top: 10px;
  }

  &__naming {
    &__input {
      @include text-boxes();
    }
  }

  &__invitation {
    margin-top: 20px;
    &__input {
      @include text-boxes();
    }
  }
}

.jointeam {
  margin-top: 2em;
  &__title {
    margin-left: 1rem;
    font-size: 24px;
    margin-bottom: 1rem;
  }
  &__container {
    background-color: white;
    width: 100%;
    max-width: 550px;
    height: 236px;
    border-radius: 12px;
    box-shadow: 0px 1px 20px rgba(205, 205, 205, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $inter;
    
    &__header {
      margin-top: 10px;
      font-size: 22px;
      font-weight: 400;
    }

    &__invitations {
      margin-top: 0.5em;
      border: 1px solid #C4C4C4;
      width: 92%;
      height: 75%;
      border-radius: 6px;
      overflow-y: auto;
    } 
  }
}

.invitation {
  display: inline-flex;
  font-family: $inter;
  font-weight: 500;
  align-items: center;
  width: calc(100% - 20px);
  padding: 10px 10px;
  &__buttons {
    margin-left: auto;

    @mixin invitation-button {
      all: unset;
      border-radius: 6px;
      border-style: solid;
      border-width: 1px;
      padding: 5px 10px;
      transition: padding ease 0.25s;

      &:hover {
        cursor: pointer;
        padding: 5px 15px;
        color: white;
      }
    }

    &__accept {
      @include invitation-button();
      margin-right: 2.5px;
      border-color: #6F6FE8;
      color: #6F6FE8;

      &:hover {
        background-color: #6F6FE8;
      }
    }

    &__decline {
      @include invitation-button();
      margin-left: 2.5px;
      border-color: #E55039;
      color: #E55039;
      &:hover {
        background-color: #E55039;
      }
    }
  }
}