@import "../../stylesheets/variables";

.footer {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 3em;
  z-index: 100;

  .app--dark & {
    background-color: $dark-dark-purple;
  }

  .app--light & {
    background-color: $light-faded-blue;
  }

}

.footer__container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 0px;
  height: 5em;
  width: 100vw;
  max-width: 1000px;
  z-index: 1000;

  font-size: 0.6em;
  transition: background-color 300ms ease;

  a {
    color: $dark-white;
    text-decoration: none;
  }

  &--left {
    display: flex;
    flex-direction: row;
    gap: 2em;
    z-index: 10;
    padding: 1em;
    padding-left: 4em;
    align-items: center;
    justify-content: stretch;

    height: 40%;

    a {
      text-align: center;
      flex-grow: 1;
      height: min-content;
      width: max-content;
    }

    &--divider {
      border-right: 1px solid $dark-white;
      width: 0;
      height: stretch;
    }
  }

  &--right {
    display: flex;
    flex-direction: row;
    gap: 2em;
    z-index: 10;
    padding: 1em;
    padding-right: 4em;

    img {
      height: 1.8em;
    }
  }
}

.footer__copyright {
  position: absolute;
  font-size: 0.6em;
  // display: absolute;
  margin-left: 0;
  padding-left: 0;
  text-align: center;
  // width: inherit;
  z-index: 100;
  width: 100vw;
}