@use "../../stylesheets/variables";

.home__container {
  display: flex;
  flex-direction: column;

  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2em;

  .app--light {
    @include variables.light-background;
  }

  .app--dark {
    @include variables.dark-background;
  }
}
