@use "stylesheets/variables";

html,
body,
#root,
#root > div {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overscroll-behavior: contain;
}

.app {
  .app--light {
    @include variables.light--background;
  }

  .app--dark {
    @include variables.dark--background;
  }
}
