@use "stylesheets/variables";
@use "stylesheets/responsiveness";
@import "stylesheets/variables";

html,
body,
#root,
#root > div {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overscroll-behavior: contain;
  overscroll-behavior-x: contain;
  position: sticky;
  overflow-x: hidden;
}

.app {
  font-family: Arial, Helvetica, sans-serif;
  color: $dark-white;

  .app--light {
    @include variables.light-background;
  }

  .app--dark {
    @include variables.dark-background;
  }
}