@use "./stylesheets/responsiveness";
@use "./stylesheets/typography";

.verify-view {
  background-color: #34486b;
  min-width: 320px;
  min-height: 100vh;
  color: #fff;

  @include responsiveness.screen(smallest) {
    height: 120vh;
  }

  &__header {
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: center;
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 700;

    @include responsiveness.font(3.1vw, 30px, 50px);
  }
}
