@use "../../stylesheets/variables";
@import "../../stylesheets/variables";

.lph__container {
  position: relative;
  height: 100%;
  @include variables.livesite-background;
  display: flex;
  justify-content: center;
  align-items: center;
}
