@use "../../stylesheets/variables";
@import "../../stylesheets/variables";

.lph__container {
  position: relative;

  @include variables.livesite-background;
  display: flex;
  justify-content: center;
  align-items: center;
}
